@model IEnumerable<ToDo1.Models.Task>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task Manager</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>To Do Lists</h2>
        <p>
            View Your To Do Lists @Html.ActionLink("Here", "Index", "ToDoList")
        </p>

    </div>

    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>
            View All Tasks @Html.ActionLink("Here", "Index", "Task")
        </p>

    </div>

    <div class="col-md-4">
        <h2>Due Today</h2>
        <p>
            Task(s) Due Today :
            @foreach(var x in Model)
            {
                <div>-- @x.Title</div>
            }
        </p>

    </div>

</div>