@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task Manager</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>To Do Lists</h2>
        <p>
            View Your To Do Lists @Html.ActionLink("Here", "Index", "ToDoList")
        </p>

    </div>

</div>